/* Cart Dropdown - Start
================================================== */
.cart_btn {
	.cart_counter {
		top: 2px;
		right: 3px;
		height: 15px;
		font-size: 10px;
		min-width: 15px;
		line-height: 15px;
		border-radius: 50%;
		text-align: center;
		position: absolute;
		color: $color_white;
		font-family: $font_secondary;
		background-color: $color_primary;
	}
}

[aria-labelledby=cart_dropdown] {
	right: 0;
	left: auto;
	min-width: 260px;
	margin-top: 10px;
	.cart_empty_text {
		font-size: 24px;
		line-height: 1.3;
	}
}
/* Cart Dropdown - End
================================================== */