/* Template Space - Start
================================================== */

/* Container Reset - Start */
.container {
	max-width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	margin: -15px;
}
.col {
	flex: unset;
	padding: 15px;
}
/* Container Reset - End */

/* Section Top & Bottom Space - Start */
.section_space_lg {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section_space_md {
	padding-top: 100px;
	padding-bottom: 100px;
}
/* Section Top & Bottom Space - End */

/* Template Space - End
================================================== */