/* Shop Page - Start
================================================== */

// Product Price Style - Start
.item_price {
	display: flex;
	line-height: 1;
	align-items: center;
	span {
		font-weight: 600;
		margin-right: 6px;
	}
	sup {
		top: -3px;
		color: #9f9f9f;
		font-size: 12px;
		font-weight: 400;
	}
	del {
		color: #9f9f9f;
	}
}
// Product Price Style - End

// Cart Items List - Start
.cart_items_list {
	margin: -10px;
	>li {
		padding: 10px;
	}
}
// Cart Items List - End

// Small Product Style - Start
.product_item_small {
	display: flex;
	align-items: center;
	.item_image {
		width: 80px;
		height: 80px;
		padding: 10px;
		flex: 0 0 80px;
		overflow: hidden;
		margin-right: 20px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		border: 1px solid $color_border;
		img {
			transition: $transition;
		}
	}
	.item_title {
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 8px;
		a {
			color: $color_primary;
		}
	}
	.item_price {
		margin-bottom: 3px;
		span {
			font-size: 18px;
			margin-right: 6px;
		}
	}
	.item_remove_item {
		color: #9f9f9f;
		font-size: 12px;
		font-weight: 500;
		i {
			margin-right: 3px;
		}
		&:hover {
			color: red;
		}
	}

	&:hover {
		.item_image {
			img {
				transform: scale(1.08);
			}
		}
		.item_title {
			a {
				text-decoration: underline;
			}
		}
	}
}
// Small Product Style - End

/* Shop Page - End
================================================== */