// Font Family
$font_body: 'DM Sans', sans-serif;
$font_heading: 'DM Sans', sans-serif;
$font_secondary: 'Roboto', sans-serif;

// Default Color
$color_black: #000000;
$color_white: #ffffff;
$color_body: #707070;
$color_primary: #3a10e5;
$color_secondary: #10162f;
$color_success: #66c4ff;
$color_danger: #f966ff;
$color_warning: #facb3b;
$color_info: #f0f3ff;
$color_light: #fff0e5;
$color_dark: #101213;
$color_dark_2: #111111;
$color_border: #ebebeb;

// Border Radius
$border_radius: 6px;

// Default Transition
$transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);